.box-layout {
    //background: url('/images/bg.jpg');
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-repeat: no-repeat;
    background-size:contain;
    height: 100vh;
    width: 100vw;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+50,b8e2f6+50,b6dffd+100&0.5+25,1+50,0.51+75 */
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-layout__box {
    transition: all 0.1s;
    background: fade-out($color: white, $amount: .40);
    border-radius: 10px;
    text-align:center;
    padding: $l-size $m-size;
    width: 35rem;
}

.box-layout__box:hover{
    transition: transform 0.1s;
    transform: scale(1.05);
    box-shadow:0px 10px 5px grey;
    background: fade-out($color: white, $amount: .1);

}

.box-layout__title {
    margin: 0 0 $m-size;
    line-height: 1;
}