.text-input {
    border: 1px solid $off-yellow;
    height: 50px;
    font-size: 120%;
    padding: $xs-size;
}

.selector-input {
    @extend .text-input;
    background:$dark-blue;
    color: $off-white;
}

.textarea {
    @extend .text-input;
    height: 10rem;

}