.input-group {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom:$l-size;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom:$s-size;

    }
}

.input-group__item {
    margin-bottom: $s-size;

    @media (min-width: $desktop-breakpoint) {
        margin: 0 $xs-size 0 0;
    }
    
}

