// Colors

$dark-grey: #333333;
$grey: #666;
$dark-blue: #2C364A;
$off-white: #f7f7f7;
$white:#DDDDDD;
$blue: #0a62c7;
$off-yellow: #cacccd;

//Spacing

$xs-size:0.8rem;
$s-size:1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.2rem;
$desktop-breakpoint: 45rem;